doctype html
html
	head
	title= 'this is a title in views/layout.pug'
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
	a(href='/') 'Link to home'
	br
	a(href='/one') 'Link to one'
	br
	a(href='/two') 'Link to two'
	block content
