extends layout

block content
	.row
		h4 Onepugtest
	form(action="", method="post")
		.form-group.row
			label test1label
				input.form-control(name="user")
		.form-group.row
			label test2label
				input.form-control(name="postdata")
		.form-group.row
			button.btn-primary Add
			